* {
  box-sizing: border-box; }

body {
  font-family: "proxima-nova", serif;
  font-weight: 100;
  font-size: 20px;
  text-align: justify;
  background-color: #525252;
  margin: 0;
  user-select: none;
  cursor: default; }

.wrapper {
  width: 100%;
  display: table;
  margin: 0 auto; }

.row {
  content: "";
  clear: both;
  display: block; }

[class*='col-'] {
  float: left;
  padding-right: 20px; }

[class*='col-']:last-of-type {
  padding-right: 0; }

.offset-1 {
  margin-left: 8.33%; }

.col-1 {
  width: 8.33%; }

.offset-2 {
  margin-left: 16.66%; }

.col-2 {
  width: 16.66%; }

.offset-3 {
  margin-left: 24.99%; }

.col-3 {
  width: 24.99%; }

.offset-4 {
  margin-left: 33.32%; }

.col-4 {
  width: 33.32%; }

.offset-5 {
  margin-left: 41.65%; }

col-5 {
  width: 41.65%; }

.col-6 {
  width: 49.98%; }

.col-7 {
  width: 58.31%; }

.col-8 {
  width: 66.64%; }

.col-9 {
  width: 74.97%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.63; }

.col-12 {
  width: 100%; }

a {
  text-decoration: none;
  color: #FF7D00; }
  a a:hover {
    color: #FFFFFF; }

p {
  font-family: "proxima nova", sans-serif;
  font-weight: 100;
  color: #FFFFFF;
  text-align: justify; }

h3 {
  font-family: "spumante", cursive;
  font-size: 50px;
  color: #FF7D00;
  text-align: center;
  text-shadow: 2px 3px 1px #1A1A1A; }

.nav {
  width: 100%;
  height: 130px;
  background-color: #000000; }
  .nav ul {
    list-style-type: none;
    font-size: 30px;
    text-align: center;
    margin-top: 3%; }
  .nav li {
    display: inline;
    padding-right: 1.5%; }
    .nav li a {
      text-decoration: none;
      color: #FFFFFF; }
    .nav li a:hover {
      color: #FF7D00; }
    .nav li .current {
      font-weight: 400;
      color: #FF7D00; }
    .nav li .current:hover {
      color: #FFFFFF; }

.underline {
  display: inline-block;
  position: relative;
  padding-bottom: 3px; }

.underline:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .3s ease, background-color .3s ease, left .3s ease; }

.underline:hover:after {
  width: 100%;
  left: 0;
  background: #525252; }

.name {
  font-family: "spumante",sans-serif;
  font-size: 160px;
  font-weight: 700;
  color: #FFFFFF;
  text-shadow: 5px 5px 7px #000000;
  text-align: center;
  text-decoration: none;
  position: absolute;
  margin-top: 7%; }

.tagline {
  font-family: "proxima-nova",sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  margin-top: 23%; }

.heroImage {
  position: relative;
  width: 100%; }

.title1 {
  font-family: "spumante", cursive;
  font-size: 100px;
  text-align: center;
  color: #FF7D00;
  text-shadow: 3px 5px 0px #1A1A1A;
  margin-top: 2%; }

.profile img {
  position: relative;
  margin-top: -7%;
  box-shadow: 3px 3px 5px #1A1A1A;
  filter: grayscale(100%); }
.profile img:hover {
  filter: none; }

.about {
  margin-top: 3%;
  margin-bottom: 3%; }

.tile1, .tile2 {
  margin-top: 5%;
  transition: .25s ease; }
  .tile1:hover, .tile2:hover {
    margin-top: 3%;
    transition: .25s ease; }

.tile3, .tile4 {
  margin-top: 5%;
  transition: .25s ease; }
  .tile3:hover, .tile4:hover {
    margin-top: 3%;
    transition: .25s ease; }

.project {
  font-size: 25px;
  color: #FF7D00;
  font-weight: 400;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%; }

.project:hover {
  color: #FFFFFF; }

.slider {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 16%;
  overflow: hidden; }
  .slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none; }
    .slider ul li {
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      background: #525252; }
  .slider .next {
    right: 0; }
  .slider .prev, .slider .next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #FFFFFF;
    color: #525252;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    opacity: 0.7;
    cursor: pointer; }
  .slider .prev:hover, .slider .next:hover {
    opacity: 1;
    color: #000000;
    transition: all 0.2s ease; }

.blog1, .blog2 {
  margin-top: -2%; }
  .blog1 span, .blog2 span {
    font-weight: 400; }
  .blog1 hr, .blog2 hr {
    border: solid 0.5px #999999; }
  .blog1 .date1, .blog2 .date1 {
    margin-top: -5%;
    font-size: 16px;
    color: #CCCCCC;
    width: 13%;
    float: right;
    text-align: right;
    border-bottom: solid 1px #999999; }
  .blog1 .date2, .blog2 .date2 {
    margin-top: -5%;
    font-size: 16px;
    color: #CCCCCC;
    width: 13.5%;
    float: right;
    text-align: right;
    border-bottom: solid 1px #999999; }

.blog2 {
  margin-bottom: 3%; }

.title2 {
  font-family: "spumante", cursive;
  font-size: 100px;
  text-align: center;
  color: #FF7D00;
  text-shadow: 3px 5px 0px #1A1A1A;
  margin-top: 1%; }

form p {
  color: #FF7D00;
  font-weight: 400;
  font-size: 18px;
  float: right; }
form label {
  font-family: "proxima nova", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: justify; }
form fieldset {
  margin-top: -7.5%;
  margin-bottom: 3%;
  border: none; }
  form fieldset input {
    background-color: #CCCCCC;
    border: none;
    height: 40px;
    font-family: "proxima nova", sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #000000;
    padding-left: 1%;
    margin-top: 0.5%;
    margin-bottom: 2%; }
  form fieldset textarea {
    background-color: #CCCCCC;
    border: none;
    height: 200px;
    font-family: "proxima nova", sans-serif;
    font-weight: 100;
    font-size: 20px;
    resize: vertical;
    color: #000000;
    padding-top: 1%;
    padding-left: 1%;
    margin-top: 0.5%;
    margin-bottom: 2%; }
  form fieldset input[type=submit] {
    background-color: #FF7D00;
    border: none;
    height: 60px;
    font-family: "proxima nova", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
    padding-top: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 2%;
    cursor: pointer; }
    form fieldset input[type=submit]:hover {
      color: #FF7D00;
      background-color: #FFFFFF; }

.bottom {
  background-color: #000000;
  height: 220px;
  clear: both; }
  .bottom .social {
    margin-top: 3%; }
    .bottom .social img {
      width: 22%;
      padding-left: 10%; }
    .bottom .social img:hover {
      filter: grayscale(100%) brightness(200%);
      animation: shake 0.8s;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px; }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
  .bottom .sitemap {
    margin-top: 3%; }
    .bottom .sitemap li {
      display: inline;
      padding-left: 3%; }
    .bottom .sitemap a {
      color: #FFFFFF;
      font-weight: 100; }
    .bottom .sitemap a:hover {
      color: #FF7D00; }
    .bottom .sitemap .current {
      font-weight: 400;
      color: #FF7D00; }
    .bottom .sitemap .current:hover {
      color: #FFFFFF; }

/*# sourceMappingURL=main.css.map */
